@import '../abstracts/variables';

.dot-indicator {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  display: inline-block;
  &.red {
    background-color: $color_caution;
  }
  &.yellow {
    background-color: $color_notice;
  }
  &.green {
    background-color: $color_supply;
  }
  &.xrplevm {
    background-color: $color_xrplevm;
  }
}
